<header>
  <div class="container">
    <div
      x-data="{ openMenu: false }"
      x-init="$watch('openMenu', value => document.body.classList.toggle('overflow-hidden', value))"
      @keydown.escape.window="openMenu = false"
    >
      <nav
        class="lg:flex-row pt-3 lg:items-center lg:justify-between flex
          flex-col"
      >
        <div
          class="p-1 lg:hidden border-gray-300 rounded-lg flex w-full
            justify-end border-2 border-solid"
        >
          <!-- Burger button open START -->
          <button
            @click="openMenu = true"
            :aria-expanded="openMenu"
            aria-controls="mobile-navigation"
            aria-label="Меню навігації"
          >
            <svg
              xmlns="http://www.w3.org/2000/svg"
              class="size-12 text-black"
              viewBox="0 0 24 24"
              fill="none"
              stroke="currentColor"
              stroke-width="2"
              stroke-linecap="round"
              stroke-linejoin="round"
            >
              <path d="M4 12h16" />
              <path d="M4 18h16" />
              <path d="M4 6h16" />
            </svg>
          </button>
          <!-- Burger button open END -->
        </div>

        <div class="p-4 lg:p-0 flex items-center justify-center">
          <div class="gap-4 lg:flex-row flex flex-col items-center">
            <a href="#">
              <img
                src="images/logo/logo-light.png"
                alt="Логотип компании Art5"
                class="lg:size-23 xl:size-25 size-30"
                loading="eager"
                eleventy:widths="100, 120, 200, 240"
                sizes="(min-width: 1280px) 100px, 120px"
              />
            </a>
            <ul class="lg:block flex flex-col items-center">
              <li>
                <span
                  class="text-xl lg:text-lg font-semibold bg-rose-400 px-2 py-1
                    rounded-md text-white xl:text-2xl relative text-nowrap"
                >
                  Дитяча школа мистецтв №5
                </span>
              </li>
              <li class="mt-1">
                <span class="text-xl lg:text-lg xl:text-xl font-semibold"
                  >Харківської міської ради</span
                >
              </li>
            </ul>
          </div>
        </div>

        <ul
          class="gap-x-3 gap-y-3 lg:grid lg:auto-cols-auto lg:grid-flow-col
            lg:grid-rows-2 xl:gap-x-6 xl:text-lg 2xl:gap-x-8 hidden"
        >
          <li class="contents">
            <a href="#" class="font-semibold text-rose-500 whitespace-nowrap">
              Головна
            </a>
          </li>
          <li class="contents">
            <div class="expand-hover-area group relative z-2">
              <a
                href="#"
                class="gap-1 font-semibold hover:text-rose-500 flex items-center
                  whitespace-nowrap transition-colors"
              >
                Про школу
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  class="size-4"
                  viewBox="0 0 24 24"
                  fill="none"
                  stroke="currentColor"
                  stroke-width="2"
                  stroke-linecap="round"
                  stroke-linejoin="round"
                >
                  <path d="m6 9 6 6 6-6" />
                </svg>
              </a>
              <ul
                class="mt-2 rounded-xl border-rose-500 bg-white font-semibold
                  shadow-lg absolute top-full left-1/2 z-50 hidden w-max
                  -translate-x-1/2 border-2 border-t-2 border-solid
                  whitespace-nowrap transition-opacity duration-200
                  group-hover:block group-hover:opacity-100"
              >
                <li>
                  <a
                    href="#"
                    class="px-6 py-2 hover:text-rose-500 block
                      transition-colors"
                    >Історія школи</a
                  >
                </li>
                <li>
                  <a
                    href="#"
                    class="px-6 py-2 hover:text-rose-500 block
                      transition-colors"
                    >Проєктна діяльність</a
                  >
                </li>
                <li>
                  <a
                    href="#"
                    class="px-6 py-2 hover:text-rose-500 block
                      transition-colors"
                    >Символіка школи</a
                  >
                </li>
                <li>
                  <a
                    href="gallery.html"
                    class="px-6 py-2 hover:text-rose-500 block
                      transition-colors"
                    >Галерея</a
                  >
                </li>
              </ul>
            </div>
          </li>
          <li class="contents">
            <div class="expand-hover-area group relative z-3">
              <a
                href="#"
                class="gap-1 font-semibold hover:text-rose-500 flex items-center
                  whitespace-nowrap transition-colors"
              >
                Відділення
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  class="size-4"
                  viewBox="0 0 24 24"
                  fill="none"
                  stroke="currentColor"
                  stroke-width="2"
                  stroke-linecap="round"
                  stroke-linejoin="round"
                >
                  <path d="m6 9 6 6 6-6" />
                </svg>
              </a>
              <ul
                class="mt-2 rounded-xl border-rose-500 bg-white font-semibold
                  shadow-lg absolute top-full left-1/2 z-50 hidden w-max
                  -translate-x-1/2 border-2 border-solid whitespace-nowrap
                  opacity-0 transition-opacity duration-200 group-hover:block
                  group-hover:opacity-100"
              >
                <li>
                  <a
                    href="music-department.html"
                    class="px-6 py-2 hover:text-rose-500 block
                      transition-colors"
                    >Музичне відділення</a
                  >
                </li>
                <li>
                  <ul
                    class="pl-3 lg:gap-1 lg:pl-6 lg:font-semibold flex flex-col"
                  >
                    <li>
                      <a
                        href="piano-violin-department.html"
                        class="px-6 py-2 hover:text-rose-500 block
                          transition-colors"
                        >Фортепіанно-струнний відділ</a
                      >
                    </li>
                    <li>
                      <a
                        href="folk-spiritual-department.html"
                        class="px-6 py-2 hover:text-rose-500 block
                          transition-colors"
                        >Народно-духовий відділ</a
                      >
                    </li>
                    <li>
                      <a
                        href="vocal-choral-department.html"
                        class="px-6 py-2 hover:text-rose-500 block
                          transition-colors"
                        >Вокально-хоровий відділ</a
                      >
                    </li>
                    <li>
                      <a
                        href="music-theory-department.html"
                        class="px-6 py-2 hover:text-rose-500 block
                          transition-colors"
                        >Музично-теоретичний відділ</a
                      >
                    </li>
                  </ul>
                </li>
                <li>
                  <a
                    href="painting-department.html"
                    class="px-6 py-2 hover:text-rose-500 block
                      transition-colors"
                    >Художнє відділення</a
                  >
                </li>
                <li>
                  <a
                    href="theater-choreography-department.html"
                    class="px-6 py-2 hover:text-rose-500 block
                      transition-colors"
                    >Театрально-хореографічне відділення</a
                  >
                </li>
                <li>
                  <a
                    href="additional-services-department.html"
                    class="px-6 py-2 hover:text-rose-500 block
                      transition-colors"
                    >Додаткові освітні платні послуги</a
                  >
                </li>
                <li>
                  <a
                    href="inclusion-department.html"
                    class="px-6 py-2 hover:text-rose-500 block
                      transition-colors"
                    >Інклюзивна початкова мистецька освіта</a
                  >
                </li>
                <li>
                  <a
                    href="psychology-department.html"
                    class="px-6 py-2 hover:text-rose-500 block
                      transition-colors"
                    >Психолог</a
                  >
                </li>
                <li>
                  <a
                    href="online-department.html"
                    class="px-6 py-2 hover:text-rose-500 block
                      transition-colors"
                    >Дистанційне відділення</a
                  >
                </li>
                <li>
                  <a
                    href="library-department.html"
                    class="px-6 py-2 hover:text-rose-500 block
                      transition-colors"
                    >Бібліотека</a
                  >
                </li>
              </ul>
            </div>
          </li>
          <li class="contents">
            <div class="expand-hover-area group relative z-2">
              <a
                href="#"
                class="gap-1 font-semibold hover:text-rose-500 flex items-center
                  whitespace-nowrap transition-colors"
              >
                Адміністрація
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  class="size-4"
                  viewBox="0 0 24 24"
                  fill="none"
                  stroke="currentColor"
                  stroke-width="2"
                  stroke-linecap="round"
                  stroke-linejoin="round"
                >
                  <path d="m6 9 6 6 6-6" />
                </svg>
              </a>
              <ul
                class="mt-2 rounded-xl border-rose-500 bg-white font-semibold
                  shadow-lg absolute top-full left-1/2 z-50 hidden w-max
                  -translate-x-1/2 border-2 border-solid whitespace-nowrap
                  opacity-0 transition-opacity duration-200 group-hover:block
                  group-hover:opacity-100"
              >
                <li>
                  <a
                    href="music-department.html"
                    class="px-6 py-2 hover:text-rose-500 block
                      transition-colors"
                    >Кравчук Оксана Вікторівна</a
                  >
                </li>
                <li>
                  <a
                    href="painting-department.html"
                    class="px-6 py-2 hover:text-rose-500 block
                      transition-colors"
                    >Новікова Тетяна Сергіївна</a
                  >
                </li>
                <li>
                  <a
                    href="theater-choreography-department.html"
                    class="px-6 py-2 hover:text-rose-500 block
                      transition-colors"
                    >Вініченко Марина Володимирівна</a
                  >
                </li>
                <li>
                  <a
                    href="additional-services-department.html"
                    class="px-6 py-2 hover:text-rose-500 block
                      transition-colors"
                    >Шугай Алевтина Олександрівна</a
                  >
                </li>
                <li>
                  <a
                    href="inclusion-department.html"
                    class="px-6 py-2 hover:text-rose-500 block
                      transition-colors"
                    >Бубнова Олена Володимирівна</a
                  >
                </li>
              </ul>
            </div>
          </li>
          <li class="contents">
            <div class="expand-hover-area group relative z-3">
              <a
                href="#"
                class="gap-1 font-semibold hover:text-rose-500 flex items-center
                  whitespace-nowrap transition-colors"
              >
                Викладачі
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  class="size-4"
                  viewBox="0 0 24 24"
                  fill="none"
                  stroke="currentColor"
                  stroke-width="2"
                  stroke-linecap="round"
                  stroke-linejoin="round"
                >
                  <path d="m6 9 6 6 6-6" />
                </svg>
              </a>
              <ul
                class="mt-2 rounded-xl border-rose-500 bg-white font-semibold
                  shadow-lg absolute top-full left-1/2 z-50 hidden w-max
                  -translate-x-1/2 border-2 border-solid whitespace-nowrap
                  opacity-0 transition-opacity duration-200 group-hover:block
                  group-hover:opacity-100"
              >
                <li>
                  <a
                    href="music-department.html"
                    class="px-6 py-2 hover:text-rose-500 block
                      transition-colors"
                    >Музичне відділення</a
                  >
                </li>
                <li>
                  <ul
                    class="pl-3 lg:gap-1 lg:pl-6 lg:font-semibold flex flex-col"
                  >
                    <li>
                      <a
                        href="piano-violin-department.html"
                        class="px-6 py-2 hover:text-rose-500 block
                          transition-colors"
                        >Фортепіанно-струнний відділ</a
                      >
                    </li>
                    <li>
                      <a
                        href="folk-spiritual-department.html"
                        class="px-6 py-2 hover:text-rose-500 block
                          transition-colors"
                        >Народно-духовий відділ</a
                      >
                    </li>
                    <li>
                      <a
                        href="vocal-choral-department.html"
                        class="px-6 py-2 hover:text-rose-500 block
                          transition-colors"
                        >Вокально-хоровий відділ</a
                      >
                    </li>
                    <li>
                      <a
                        href="music-theory-department.html"
                        class="px-6 py-2 hover:text-rose-500 block
                          transition-colors"
                        >Музично-теоретичний відділ</a
                      >
                    </li>
                  </ul>
                </li>
                <li>
                  <a
                    href="painting-department.html"
                    class="px-6 py-2 hover:text-rose-500 block
                      transition-colors"
                    >Художнє відділення</a
                  >
                </li>
                <li>
                  <a
                    href="theater-choreography-department.html"
                    class="px-6 py-2 hover:text-rose-500 block
                      transition-colors"
                    >Театральний клас</a
                  >
                </li>
                <li>
                  <a
                    href="additional-services-department.html"
                    class="px-6 py-2 hover:text-rose-500 block
                      transition-colors"
                    >Хореографічний клас</a
                  >
                </li>
                <li>
                  <a
                    href="inclusion-department.html"
                    class="px-6 py-2 hover:text-rose-500 block
                      transition-colors"
                    >Інклюзивна початкова мистецька освіта</a
                  >
                </li>
                <li>
                  <a
                    href="psychology-department.html"
                    class="px-6 py-2 hover:text-rose-500 block
                      transition-colors"
                    >Психолог</a
                  >
                </li>
                <li>
                  <a
                    href="library-department.html"
                    class="px-6 py-2 hover:text-rose-500 block
                      transition-colors"
                    >Бібліотека</a
                  >
                </li>
              </ul>
            </div>
          </li>

          <li class="contents">
            <div class="expand-hover-area group relative z-2">
              <a
                href="#"
                class="gap-1 font-semibold hover:text-rose-500 flex items-center
                  whitespace-nowrap transition-colors"
              >
                Корисна інформація
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  class="size-4"
                  viewBox="0 0 24 24"
                  fill="none"
                  stroke="currentColor"
                  stroke-width="2"
                  stroke-linecap="round"
                  stroke-linejoin="round"
                >
                  <path d="m6 9 6 6 6-6" />
                </svg>
              </a>
              <ul
                class="mt-2 rounded-xl border-rose-500 bg-white font-semibold
                  shadow-lg absolute top-full left-1/2 z-50 hidden w-max
                  -translate-x-1/2 border-2 border-solid whitespace-nowrap
                  opacity-0 transition-opacity duration-200 group-hover:block
                  group-hover:opacity-100"
              >
                <li>
                  <a
                    href="music-department.html"
                    class="px-6 py-2 hover:text-rose-500 block
                      transition-colors"
                    >Викладачам</a
                  >
                </li>
                <li>
                  <a
                    href="painting-department.html"
                    class="px-6 py-2 hover:text-rose-500 block
                      transition-colors"
                    >Батькам</a
                  >
                </li>
                <li>
                  <a
                    href="theater-choreography-department.html"
                    class="px-6 py-2 hover:text-rose-500 block
                      transition-colors"
                    >Нормативна база</a
                  >
                </li>
              </ul>
            </div>
          </li>
          <li class="contents">
            <a
              href="#"
              class="font-semibold hover:text-rose-500 whitespace-nowrap
                transition-colors"
              >Новини</a
            >
          </li>
          <li class="contents">
            <a
              href="#"
              class="font-semibold hover:text-rose-500 whitespace-nowrap
                transition-colors"
              >Події</a
            >
          </li>
          <li class="contents">
            <a
              href="#"
              class="font-semibold hover:text-rose-500 whitespace-nowrap
                transition-colors"
              >Контакти</a
            >
          </li>
        </ul>
      </nav>
      <!-- Main Menu END -->

      <!-- Mobile Navigation START -->
      <div
        id="mobile-navigation"
        x-show="openMenu"
        x-trap.inert.noscroll="openMenu"
        x-cloak
        class="inset-0 fixed z-50"
      >
        <div
          x-show="openMenu"
          x-transition:enter="ease-out duration-300"
          x-transition:enter-start="opacity-0"
          x-transition:enter-end="opacity-100"
          x-transition:leave="ease-in duration-200"
          x-transition:leave-start="opacity-100"
          x-transition:leave-end="opacity-0"
          @click="openMenu = false"
          class="inset-0 bg-black/40 absolute"
        ></div>

        <nav
          x-show="openMenu"
          x-transition:enter="transition ease-in-out duration-300 transform"
          x-transition:enter-start="translate-x-full"
          x-transition:enter-end="translate-x-0"
          x-transition:leave="transition ease-in-out duration-300 transform"
          x-transition:leave-start="translate-x-0"
          x-transition:leave-end="translate-x-full"
          class="bg-gray-100 p-5 top-0 bottom-0 right-0 max-w-sm fixed z-50
            w-full overflow-y-auto"
        >
          <button
            class="ml-auto block"
            @click="openMenu = false"
            :aria-expanded="openMenu"
            aria-controls="mobile-navigation"
            aria-label="Закрити меню навігації"
          >
            <svg
              xmlns="http://www.w3.org/2000/svg"
              fill="none"
              viewBox="0 0 24 24"
              stroke-width="1.5"
              stroke="currentColor"
              class="size-12"
            >
              <path
                stroke-linecap="round"
                stroke-linejoin="round"
                d="M6 18 18 6M6 6l12 12"
              />
            </svg>
          </button>
          <ul class="flex flex-col">
            <li>
              <a
                href="index.html"
                class="py-2 text-xl font-bold text-teal-600 block"
              >
                Головна
              </a>
            </li>
            <li>
              <a href="about.html" class="py-2 text-xl font-bold block">
                Про школу
              </a>
              <ul class="pl-3">
                <li>
                  <a href="#" class="py-2 text-xl font-semibold block">
                    Історія школи
                  </a>
                </li>
                <li>
                  <a href="#" class="py-2 text-xl font-semibold block">
                    Проєктна діяльність
                  </a>
                </li>
                <li>
                  <a href="#" class="py-2 text-xl font-semibold block">
                    Символіка школи
                  </a>
                </li>
                <li>
                  <a
                    href="gallery.html"
                    class="py-2 text-xl font-semibold block"
                  >
                    Галерея
                  </a>
                </li>
              </ul>
            </li>
            <li>
              <a href="departments.html" class="py-2 text-xl font-bold block">
                Відділення
              </a>
              <ul class="pl-3">
                <li>
                  <a
                    href="music-department.html"
                    class="py-2 text-xl font-bold block"
                  >
                    Музичне відділення
                  </a>
                  <ul class="pl-5">
                    <li>
                      <a
                        href="piano-violin-department.html"
                        class="py-2 text-xl font-semibold block"
                      >
                        Фортепіанно-струнний відділ
                      </a>
                    </li>
                    <li>
                      <a
                        href="folk-spiritual-department.html"
                        class="py-2 text-xl font-semibold block"
                      >
                        Народно-духовий відділ
                      </a>
                    </li>
                    <li>
                      <a
                        href="vocal-choral-department.html"
                        class="py-2 text-xl font-semibold block"
                      >
                        Вокально-хоровий відділ
                      </a>
                    </li>
                    <li>
                      <a
                        href="music-theory-department.html"
                        class="py-2 text-xl font-semibold block"
                      >
                        Музично-теоретичний відділ
                      </a>
                    </li>
                  </ul>
                </li>
                <li>
                  <a
                    href="painting-department.html"
                    class="py-2 text-xl font-semibold block"
                  >
                    Художнє відділення
                  </a>
                </li>
                <li>
                  <a
                    href="theater-choreography-department.html"
                    class="py-2 text-xl font-semibold block"
                  >
                    Театрально-хореографічне відділення
                  </a>
                </li>
                <li>
                  <a
                    href="additional-services-department.html"
                    class="py-2 text-xl font-semibold block"
                  >
                    Додаткові освітні платні послуги
                  </a>
                </li>
                <li>
                  <a
                    href="inclusion-department.html"
                    class="py-2 text-xl font-semibold block"
                  >
                    Інклюзивна початкова мистецька освіта
                  </a>
                </li>
                <li>
                  <a
                    href="psychology-department.html"
                    class="py-2 text-xl font-semibold block"
                  >
                    Психолог
                  </a>
                </li>
                <li>
                  <a
                    href="online-department.html"
                    class="py-2 text-xl font-semibold block"
                  >
                    Дистанційне відділення
                  </a>
                </li>
                <li>
                  <a
                    href="library-department.html"
                    class="py-2 text-xl font-semibold block"
                  >
                    Бібліотека
                  </a>
                </li>
              </ul>
            </li>
            <li>
              <a
                href="administration.html"
                class="py-2 text-xl font-bold block"
              >
                Адміністрація
              </a>
              <ul class="pl-3">
                <li>
                  <a
                    href="profile.html"
                    class="py-2 text-xl font-semibold block"
                  >
                    Кравчук Оксана Вікторівна
                  </a>
                </li>
                <li>
                  <a
                    href="profile.html"
                    class="py-2 text-xl font-semibold block"
                  >
                    Новікова Тетяна Сергіївна
                  </a>
                </li>
                <li>
                  <a
                    href="profile.html"
                    class="py-2 text-xl font-semibold block"
                  >
                    Вініченко Марина Володимирівна
                  </a>
                </li>
                <li>
                  <a
                    href="profile.html"
                    class="py-2 text-xl font-semibold block"
                  >
                    Шугай Алевтина Олександрівна
                  </a>
                </li>
                <li>
                  <a
                    href="profile.html"
                    class="py-2 text-xl font-semibold block"
                  >
                    Бубнова Олена Володимирівна
                  </a>
                </li>
              </ul>
            </li>
            <li>
              <a href="teachers.html" class="py-2 text-xl font-bold block">
                Викладачі
              </a>
              <ul class="pl-3">
                <li>
                  <a
                    href="teachers-music-department.html"
                    class="py-2 text-xl font-semibold block"
                  >
                    Музичне відділення
                  </a>
                  <ul class="pl-5">
                    <li>
                      <a
                        href="teachers-list.html"
                        class="py-2 text-xl font-semibold block"
                      >
                        Фортепіанно-струнний відділ
                      </a>
                    </li>
                    <li>
                      <a
                        href="teachers-list.html"
                        class="py-2 text-xl font-semibold block"
                      >
                        Народно-духовий відділ
                      </a>
                    </li>
                    <li>
                      <a
                        href="teachers-list.html"
                        class="py-2 text-xl font-semibold block"
                      >
                        Вокально-хоровий відділ
                      </a>
                    </li>
                    <li>
                      <a
                        href="teachers-list.html"
                        class="py-2 text-xl font-semibold block"
                      >
                        Музично-теоретичний відділ
                      </a>
                    </li>
                  </ul>
                </li>
                <li>
                  <a
                    href="teachers-list.html"
                    class="py-2 text-xl font-semibold block"
                  >
                    Художнє відділення
                  </a>
                </li>
                <li>
                  <a
                    href="teachers-list.html"
                    class="py-2 text-xl font-semibold block"
                  >
                    Театральний клас
                  </a>
                </li>
                <li>
                  <a
                    href="teachers-list.html"
                    class="py-2 text-xl font-semibold block"
                  >
                    Хореографічний клас
                  </a>
                </li>
                <li>
                  <a
                    href="teachers-list.html"
                    class="py-2 text-xl font-semibold block"
                  >
                    Інклюзивна початкова мистецька освіта
                  </a>
                </li>
                <li>
                  <a
                    href="teachers-list.html"
                    class="py-2 text-xl font-semibold block"
                  >
                    Психолог
                  </a>
                </li>
                <li>
                  <a
                    href="teachers-list.html"
                    class="py-2 text-xl font-semibold block"
                  >
                    Бібліотека
                  </a>
                </li>
              </ul>
            </li>
            <li>
              <a
                href="useful-information.html"
                class="py-2 text-xl font-bold block"
              >
                Корисна інформація
              </a>
              <ul class="pl-3">
                <li>
                  <a href="#" class="py-2 text-xl font-semibold block">
                    Викладачам
                  </a>
                </li>
                <li>
                  <a href="#" class="py-2 text-xl font-semibold block">
                    Батькам
                  </a>
                </li>
                <li>
                  <a href="#" class="py-2 text-xl font-semibold block">
                    Нормативна база
                  </a>
                </li>
              </ul>
            </li>
            <li>
              <a href="news-blog.html" class="py-2 text-xl font-semibold block">
                Новини
              </a>
            </li>
            <li>
              <a
                href="events-blog.html"
                class="py-2 text-xl font-semibold block"
              >
                Події
              </a>
            </li>
            <li>
              <a
                href="contact-us.html"
                class="py-2 text-xl font-semibold block"
              >
                Контакти
              </a>
            </li>
          </ul>
        </nav>
      </div>
      <!-- Mobile Navigation END -->
    </div>
  </div>
</header>
